.daisy-modal {
  background: rgba(23,28,38,0.15) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(23,28,38,0.075) !important;
}

.daisy-modal-box {

  @apply max-w-max
    min-w-[30rem]
    flex
    flex-col
    justify-center
    items-center
    pt-10
    rounded-xl
    bg-gray-900 !important;
}